
.paginado{
  display: flex;
 justify-content:center;
 list-style: none;
flex-wrap: wrap;
}
li{
 margin-right: 3px ; 
}
.button{
    color: rgb(247, 0, 164);

  border:none;
  cursor: pointer;
  border-radius: 12px;
  font-style: italic;
  background-color: rgb(3, 19, 49);
  font-size: 22px;
  position: relative;
  font-weight: bold;
  border-style: groove;
  border-color: rgb(49, 11, 53);
}
.button:hover{
  left: -10%;
  color: antiquewhite;
}
.button:active{
  color: rgb(255, 243, 240);
}
.currentpage{
  font-style: italic;
  color: rgb(220, 45, 255);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.575);
   display:contents;
}
@media(max-width:412px){
  .currentpage{
    display: inline;
  }
}