

.cards{

width: auto;
margin-top: 10px;
}
.fix{
    position: fixed;
}
.filters{
    
    display: block;
    width: 100%;
    float: left;
}
.searchbar{

    display: inline-block;
    margin-right: 50px;
}
.Paginate{
    background-color: rgba(0, 0, 0, 0.521);
}
.paginatecontain{
    
    display: inline-block;
    margin-top: 5px;

}
.bottomsspancontains{
    background-color: rgba(0, 0, 0, 0.808);
    display: inline-block;
    border-style:double;
    border-color: rgb(0, 0, 0);
}
.spantext{
    
    
    color: rgb(255, 29, 255);
    font-size: large;
    font-weight:500 ;

    border-color: rgb(180, 0, 156);

}
.buttons{
    color: rgb(255, 0, 234);
 
    border:none;
    cursor: pointer;
    font-style: italic;
    background-color: rgb(15, 21, 53);
    font-size: 17px;
    position: relative;
    font-weight: bold;
    border-style: groove;
    border-color: rgb(63, 18, 65);
  }
  .buttons:hover{
    opacity: 0.95;
    color: white;
  }
  .buttons:active{
    transform: translate(6px);
  }
@media(max-width:767px){

    .cards{
        background-color: rgba(0, 0, 0, 0.562);
    width: auto;
    margin-top: 140px;
    }
}
